body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header img {
    width: 400px; /* Ajuste la taille selon tes besoins */
    height: auto;
}

.burger {
    cursor: pointer;
    padding: 15px;
    position: relative;
    z-index: 1001;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #0062FF;
    margin: 5px;
    transition: all 0.3s;
}

.englobe {
    padding: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header img {
    width: 400px; /* Ajuste la taille selon tes besoins */
    height: auto;
}

.burger {
    cursor: pointer;
    padding: 15px;
    position: relative;
    z-index: 1001;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #0062FF;
    margin: 5px;
    transition: all 0.3s;
}

.englobe {
    padding: 20px;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
}

.menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #0062FF;
    text-align: left; /* Ajout de cette ligne pour aligner le texte à gauche */
}

.menu a:hover {
    background-color: #f0f0f0;
}

.active {
    display: flex;
}


.active {
    display: flex;
}
