/* Importation des polices Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0062FF; /* Corps du site */
    color: #fff; /* Texte en blanc sur le fond bleu */
}

/* Header Styles */
header {
    background-color: #FFFFFF; /* Couleur du header */
    color: #333;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #0062FF; /* Titre en bleu */
}

/* Main Styles */
main {
    background-color: #0062FF; /* Fond bleu pour le corps */
}

h2 {
    color: #FFFFFF; /* Titres en blanc */
    font-size: 36px;
}

p {
    font-size: 16px;
}

/* Form Styles */
form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white; /* Couleur des labels */
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Button Styles */
button[type="submit"] {
    background-color: #0062FF; /* Couleur des boutons */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: #004494; /* Couleur au survol */
}

/* Footer Styles */
footer {
    background-color: #313131;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* Register Section Styles */
.register-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.register-info {
    flex: 1;
    margin-right: 20px;
}

.register-form {
    flex: 1;
}

.register-form div {
    margin-bottom: 10px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
}

.register-form input,
.register-form select {
    width: 100%;
}

/* Button Class */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3; /* Couleur au survol */
}
